// Font Variables
$roboto: 'Roboto';
$roboto-sans-serif: 'Roboto',
'sans-serif';
$rubik: 'Rubik';
$rubik-sans-serif: 'Rubik',
'sans-serif';
//colors
$white: #FFFFFF;
$white_EE:#EEEEEE;
$white_77: #777777;
$white_FA: #faf8ff;
$grey_78:#788489;
$hover_color_85: #854fee;
$hover_color_44 :#4458DC;
$black: #000000;
// // Font weight variables
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 800;
$extra_bold: 900;
// transport