@import "./variables";
@import "./mixins";
.global-button {
    @include font_style(14px, $white, $rubik-sans-serif, $medium, 46px, 0);
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 42px;
    margin: 0 20px 0 0;
    display: inline-block;
    border-radius: 5px;
    // background-origin: border-box;
    // background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgba(118, 85, 225, .3);
    border: 1px solid transparent;
    @include common_transition();
    &:hover {
        color: $black;
        background: $white;
        background-image: none;
        border: 1px solid $hover_color_85;
    }
    &.global-reverse-hover {
        color: $black;
        background: $white;
        background-image: none;
        border: 1px solid $hover_color_85;
        &:hover {
            background: none;
            border: 1px solid transparent;
            background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee) !important;
            color: $white;
        }
    }
}

.hello-wrapper {
    background-image: url('../../images/home-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 400px;
    .hello-section {
        @include font_style(15px,
        $black,
        $roboto-sans-serif);
        display: flex;
        justify-content: space-between;
        .left-side-items {
            text-align: left;
            .hello-title {
                h3 {
                    @include font_style(40px,
                    null,
                    $rubik-sans-serif,
                    $medium);
                    margin-bottom: 0 0 20px;
                    text-transform: uppercase!important;
                }
            }
            hr {
                height: 5px;
                width: 300px;
                // border: 1px solid red;
            }
            h1 {
                @include font_style(70px,
                null,
                $rubik-sans-serif,
                null,
                60px);
                margin: 20px 0 25px;
            }
            h5 {
                @include font_style(24px,
                null,
                $rubik-sans-serif);
                margin-bottom: 35px;
            }
            .button-block {}
        }
        .right-side-items {
            img {
                max-width: 445px;
                height: auto;
            }
        }
    }
}

.about-area-secton {
    margin-top: 200px;
    .items-section {
        @include font_style(15px,
        $black,
        $roboto-sans-serif);
        display: flex;
        justify-content: space-between;
        .left-side-items {
            margin-bottom: 95px;
            padding: 0 15px;
            img {
                max-width: 445px;
                height: auto;
            }
        }
        .right-side-items {
            max-width: 445px;
            height: auto;
            h2 {
                @include font_style(36px,
                $black,
                $rubik-sans-serif,
                $bold,
                50px);
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 20px;
                @include font_style(15px,
                $white_77,
                $rubik-sans-serif);
            }
            .download-button-block {
                margin-top: 20px;
            }
        }
    }
}

.brand-area-section .container {
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    .left-block-items {
        width: 50%;
        // padding: 20px;
        padding-right: 20px;
        .all-items {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                width: 160px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                cursor: pointer;
                box-shadow: none;
                border: 1px solid $white_EE;
                img {
                    width: 50%;
                }
                &:hover {
                    @include common_transition();
                    filter: brightness(0%);
                    border: 1px solid transparent;
                    box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
                }
            }
        }
    }
    .right-block-items {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        .portfolio-content {
            padding: 25px 30px;
            background: $white_FA;
            text-align: center;
            position: relative;
            margin-top: 25px;
            margin-left: 100px;
            &::before {
                content: '';
                position: absolute;
                top: -10px;
                left: -50px;
                background: url('../../images/client-info-bg.png') no-repeat;
                height: 175px;
                width: 175px;
            }
            .experience {
                display: flex;
                padding-top: 10px;
                .number {
                    @include font_style(100px,
                    $hover_color_85,
                    $rubik-sans-serif,
                    $bold,
                    85px);
                    position: relative;
                    z-index: 9;
                }
                .text {
                    text-align: left;
                    color: #000000;
                    font-family: "Rubik", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    margin-left: 20px;
                }
            }
            .contact {
                padding-top: 100px;
                display: flex;
                padding-bottom: 50px;
                .fa-phone {
                    font-size: 60px;
                    color: $black;
                }
                .phone-number {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding-left: 16px;
                    .call-us {
                        color: #854fee;
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-bottom: 5px;
                    }
                    h3 {
                        font-family: "Rubik", sans-serif;
                        font-weight: 500;
                        color: #000000;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}