@import "./variables";
@import "./mixins";
body {
    @include font_style(15px, $white_77, $roboto-sans-serif, $regular, 26px);
    background: url('../../images/body-bg.png') no-repeat center;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $rubik-sans-serif;
    color: $black;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}